BasedOnStyle: WebKit
BreakBeforeBraces: Attach
IndentWidth: 2
ColumnLimit: 76
AlwaysBreakTemplateDeclarations: true
AllowShortLoopsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
