*.dSYM/
*.bin.*
*.bin
*.zip
a.out
aout.c
*.out
*.fpr
*.gcov
*.gcno
*.gcda
cjet
cjet-dbg
cjet-fast
cjet-cov
ccjet
ccjet-dbg
ccjet-fast
ccjet-cov
*.o
*.s
doxy/
.ccls-cache/
*.run
*.run.c
.*.c
.*.h
*.jetr
*.app/
.*.jet.*
